{% extends "base.html" %}

{% block head %}
<title>Output</title>
{% endblock %}

{% block body %}
{{ super() }}

<!--Style 2-->

<header>
    <nav class="navbar nav-masthead justify-content-center navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">DeviConvert</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/output" id="dropdown08" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Contact Us</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown08">
                        <a class="dropdown-item" type="email" href="mailto:dushyantgoyal28@outlook.com">Email</a>
                        <a class="dropdown-item" href="https://www.youtube.com/channel/UCodZAmwytlullevIHFEf9sA?view_as=subscriber">Youtube</a>
                        <a class="dropdown-item" href="#">FaceBook</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main">
    <br><br><br>
    <div class="container">
        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5 bg-light">
                <h1>Image</h1>
            </div>
            <div class="col">
                <img src="{{ url_for('uploaded_file',filename=filename) }}" width="200px" height="200px">
            </div>
        </div>
        <hr width="2px">
        <div class="row">
            <div class="col">
                <textarea rows="13" cols="50">{{ string }}</textarea>
            </div>
            <div class="col py-3 px-lg-5 bg-light">
                <h1>Base64 String</h1>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="inner">
        <p>Site Developed by <a href="https://getbootstrap.com/">Dushyant</a>, Contact <a
                href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
</footer>
{% endblock %}
